{% extends 'Mainpage/basic.html' %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Leaves</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/leaves.css' %}">
    <style>
      .container .mysalary{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
      }
      .container .mysalary .salary{
        height: 50px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: center;
        background-color: black;
        align-items: center;
        color: white;
      }
      .container .salary_table{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .container .salary_table .selects{
        display: flex;
      }
      @media screen and (max-width: 500px) {
        .container .pastleaves .leavebox .start{
          width: 100%;
        }
        .container .pastleaves .leavebox .end{
          width: 100%;
        }
      }
    </style>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% if messages %}
    <ul class="messages" id="message">
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
          {{message}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    {% if user.is_authenticated and allows == 1 %}
    <div class="container">
        <div class="mysalary">
          <div class="salary">
            <b>My Salary = ₹ {{salary}}</b>
          </div>
        </div>
        <div class="salary_table">
          <form action="/salary/" method="post">{% csrf_token %}
          <div class="selects">
              <select class="form-select" name="selected_data" aria-label="">
                <option selected>Select Period</option>
                <option value="January">January</option>
                <option value="February">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="September">September</option>
                <option value="Octomber">Octomber</option>
                <option value="Navember">Navember</option>
                <option value="December">December</option>
                <option value="Year">Year</option>
              </select>
              <div class="button" style="margin-left: 20px;">
                <button type="submit" id="main_btn" class="btn btn-primary">Show</button>
              </div>
          </div>
        </form>
        </div>
        <br><br>
        {% if slip_allow == 1 %}
          <div class="card" style="width: 100%;" id="invoice">
              <div class="card-body">
                <h5 class="card-title">Match Graphics</h5>
                <p class="card-text" style="text-align: center; padding: 20px;">Salary Invoice</p>
                <p class="card-text" style="text-align: center; padding: 20px;">This is to certify that we have paid salary for the financial period {{start_date}} to {{end_date}}</p>
                <p class="card-text">Name : {{name}} </p>
                <p class="card-text">Department : {{department}}</p>
                <p class="card-text">Role : {{role}}</p>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Months</th>
                      <th scope="col">Gross salary</th>
                      <th scope="col">P.F.</th>
                      <th scope="col">PT</th>
                      <th scope="col">Gross Deduct</th>
                      <th scope="col">Net Pay</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for i in salary_table %}
                    <tr>
                      <th scope="row">{{i.months}}</th>
                      <td>{{i.gross_salary}}</td>
                      <td>{{i.PF}}</td>
                      <td>{{i.PT}}</td>
                      <td>{{i.gross_deduct}}</td>
                      <td>{{i.Net}}</td>
                      {% if i.status == "Unpaid" %}
                      <td style="color: red;">{{i.status}}</td>
                      {% else %}
                      <td style="color: green;">{{i.status}}</td>
                      {% endif %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <p>Date - {{today_date}}</p>
                <hr><hr>
                <p class="card-text">Factory : Radhe Industrial Estate, Tejpur Road, Sarkhej-Bavla Highway, Changodar, Dist :Ahmedabad-382210 Phone:02717-298860 web:-www.matchwell.com Email: matchwelldecorpapers@yahoo.co.in</p>
              </div>
          </div>    
          <button style="margin-top: 20px;" class="btn btn-primary" id="salaryinvoice">Print</button>     
          {% endif %} 
    </div>
    {% else %}
    <h1 style="margin-top: 150px; text-align: center;">Please first complete your profile</h1>
    {% endif %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
  {% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.js"></script>
<script>
    document.getElementById("salaryinvoice").addEventListener("click",function(){
        const invoice = document.getElementById("invoice");
        html2pdf().from(invoice).save();
    })
</script>
  {% endblock %}
</html>